body {
    background-color: whitesmoke;
    margin: 0px;
    width: 100%;

}

header {
    background-color: teal;
    color: white;
    padding: 0em;
    text-align: left;
    position: fixed;
    width: 100%;
}

header li {
    display: inline;
    padding: 0px 20px;
    margin: 0px;

}

div.pics {
    background-color: teal;
    width: 100%;

}

div.pics ul li {
    display: inline;
    padding: 0px 27px;

}

div {
    background-color: crimson;
    width: 100%;
}

p.one {
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-large;
    font-weight: bolder;
    font-variant: small-caps;

}

p.two {
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
    font-weight: normal;
    text-align: left;
    padding: 0px 20px;
}

p.three {
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-large;
    font-weight: bolder;
    font-variant: small-caps;
    text-align: right;
}

p.four {
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-large;
    font-weight: bolder;
    font-variant: small-caps;
    text-align: left;
    padding: 0px 20px;
}

p.five {
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
    font-weight: normal;
    text-align: center;

}

a {
    text-decoration: none;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}


/* .input {
    color: black;
    border: 2px solid rgb(37, 32, 32);
    border-radius: 5px;
    padding: 5px 10px;
    background: whitesmoke;
    max-width: 200px;
}

.input:active {
    box-shadow: 2px 2px 15px teal inset;
} */

footer {
    background-color: black;
    /* width: 100%; */
}

footer>ul>li {
    display: block;
    letter-spacing: 1px;
    color: white;
    font-family: arial;
    padding: 10px 20px;
    margin: 0px;

}

footer p {
    color: white;
    font-family: cursive;
}

footer p a {
    color: aqua;
    font-family: cursive;
    font-size: large;
}

div.main {
    width: 1px;
    height: 1px;
    background-color: rgb(0, 0, 0);
}

@media only screen and (max-width: 576px) {
    .main {
        background-color: orange;
    }
}

@media only screen and (min-width: 576px) {
    .main {
        background-color: red;
    }
}

@media only screen and (min-width: 768px) {
    .main {
        background-color: blue;
    }
}

@media only screen and (min-width: 992px) {
    .main {
        background-color: green;
    }
}

@media only screen and (min-width: 1200px) {
    .main {
        background-color: purple;
    }
}