body {
    background-color: whitesmoke;
    margin: 0px;

}

div.nav1>ul>li {
    display: inline;
    margin: 0px;
    padding: 0px 10px;
}

button {
    line-height: 1em;
    vertical-align: bottom;
    background-color: whitesmoke;
}

div {
    background-color: teal;

}

div.nav1 {

    text-align: left;
}

/* 
div.nav2 {

    text-align: right;
    margin: 10px; 
    background-color: yellow;
} */

p.one {
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-large;
    font-weight: bolder;
    font-variant: small-caps;

}

p.two {
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
    font-weight: normal;
    text-align: left;
}

p.three {
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-large;
    font-weight: bolder;
    font-variant: small-caps;
    text-align: right;
}

p.four {
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-large;
    font-weight: bolder;
    font-variant: small-caps;
    text-align: left;
}

p.five {
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
    font-weight: normal;
    text-align: center;

}

li {
    display: inline;
    padding: 5px 27px;
    margin: 0px;
    color: red;
}

button {
    height: 40px;
    border-end-end-radius: 1em;
    border-top-left-radius: 1em;


}

a {
    text-decoration: none;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: white;

}

.a {
    color: rgb(255, 255, 255);
    background-color: white;
    border: 5ch;
    background-color: yellow;
}

/* .x {
    display: inline;
    margin: 20px;
} */

.input {
    color: black;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px 10px;
    background: whitesmoke;
    max-width: 200px;
}

.input:active {
    box-shadow: 2px 2px 15px teal inset;
}

footer {
    background-color: black;
}

footer ul li h3 {
    font-weight: 500;
    font-weight: normal;
    margin-bottom: 3px;
    letter-spacing: 1px;
    display: inline;
    color: white;
    font-family: arial;
    padding: 0px 50px;
}

footer ul ul li {
    font-weight: 300;
    margin-left: 50px;
    padding: -20px 0px;
    letter-spacing: 1px;
    display: block;

}

footer p {
    color: white;
    font-family: cursive;
}

footer p a {
    color: aqua;
    font-family: cursive;
    font-size: large;
}

div.main {
  width: 1px;
  height: 1px;
  background-color: rgb(0, 0, 0);
}

@media only screen and (max-width: 576px) {
  .main {
    background-color: orange;
  }
}

@media only screen and (min-width: 576px) {
  .main {
    background-color: red;
  }
}

@media only screen and (min-width: 768px) {
  .main {
    background-color: blue;
  }
}

@media only screen and (min-width: 992px) {
  .main {
    background-color: green;
  }
}

@media only screen and (min-width: 1200px) {
  .main {
    background-color: purple;
  }
}